@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

nav {
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: black;

    color: white;

    padding: 20px;
}

.nav__link {
    color: white;
}

.hero {
    width: 100%;

    text-align: center;

    padding: 60px 0;

    font-size: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 200px;

    background-color: #333333;
    border-radius: 6px;
    overflow: hidden;

    text-decoration: none;
}

.card__image {
    width: 100%;
}

.card__content {
    padding: 10px;

    color: white;
}

footer {
    text-align: center;

    padding: 40px;
}
